amqp
argcomplete
asgiref
async-timeout
beautifulsoup4
billiard
blinker
CacheControl
cachy
celery
certifi
chardet
cleo
click
click-didyoumean
click-plugins
click-repl
clikit
crashtest
cryptography
distlib
distro
distro-info
Django
djangorestframework
html5lib
httplib2
idna
importlib-metadata
jeepney
Jinja2
keyring
kombu
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
MarkupSafe
more-itertools
mpmath
msgpack
netifaces
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
packaging
pandas
pastel
pexpect
pipdeptree
pkginfo
platformdirs
poetry
poetry-core
prompt_toolkit
psycopg2-binary
ptyprocess
Pygments
PyJWT
pylev
python-apt
python-dateutil
python-decouple
python-memcached
pytz
PyYAML
redis
regex
requests
requests-toolbelt
safetensors
schedule
screen-resolution-extra
sdkmanager
SecretStorage
shellingham
six
soupsieve
sqlparse
sympy
systemd-python
tokenizers
tomlkit
torch
tqdm
transformers
triton
typing_extensions
tzdata
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
vine
virtualenv
wadllib
wcwidth
webencodings
xkit
zipp